@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>Restaurante CUN</h3>

<p>Somos el restaurante "tengo hambre" ofrecemos diversas variedades de comidas, jugos, postres a un costo muy economico.
    Siempre a la disponibilidad de nuestros clientes, otorgando un servicio amigable, para la satisfacción nuestros usuarios. Acercáte a nuestro horario : 8 am a 11 pm</p>
