@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-success">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes y Ordenes</h2>
        <p>
            Restaurante de la Corporación Unificada Nacional (CUN).
            Ficha: 54238
        </p>
        <p><a class="btn btn-default" href="https://cun.edu.co">CUN &raquo;</a></p>
    </div>
</div>